#category-wraper {
    width: 100%;
    height: 100%;
    display: grid;
    row-gap: 1vh;
    grid-template-rows: 3vh 12vh 1fr;
}


.category-info {
    display: grid;
    grid-template-columns: max-content 10vw;
    column-gap: 1vw;
    width: 98%;
    border-bottom: solid 1px  rgba(255, 255, 255, 0.2);
    margin: 0 auto;
}

.category-info img {
    max-width: 10vw;
    max-height: 10vh;
    
    border-radius: 1vh;
}

.category-details {
    display: grid;
    align-items: center;
    font-size: 2vh;
    color: rgb(180, 180, 180);
    text-shadow: 1px 1px 2px black;
}


.product-cards-content {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1vw;
}

.product-card {

    border-radius: 8px;
    display: block;
    border: 1px solid lightgray;
    box-shadow: 2px 2px 4px darkgray;
    min-width: 15vw;

}

.product-card-img {

    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    height: 25vh;
    width: 15vw;

}

.product-card-body {
    position: relative;
    padding: 0.25;

}

.product-card-fab {

    align-items: center;
    background-color: beige;
    border-radius: 50%;
    color: maroon;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    font-size: x-large;
    height: 2em;
    right: 2em;
    top: -1.5em;
    width: 2em;
    cursor: pointer;

}

.product-card-Title {
    text-align: start;
}

.product-card-text {
    font-size: small;
}

.product-card-footer {
    text-align: start;
}