#formRegistration {
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  row-gap: 1vh;
  width: 15vw;
  height: 40vh;
  margin: 0 auto;

}

#formRegistration input {
  width: 15vw;
}

.tool-tip {
  height: 2vh;
}

.email {
  position: relative;
}

.extra-email-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: absolute;
  left: 16vw;
  top: 0;
}

.extra-email-list {
  list-style: none;
}

.extra-email-container button {
  width: 2vw;
  margin: 0 auto;
}

.extra-email-container ul {

  grid-column-start: 1;
  grid-column-end: 3;
}