

#shop-wraper {

    width: 90vw;
    display: grid;
    grid-template-columns: 20vw 69vw;
    column-gap: 1vw;
    background-color: rgb(32, 32, 32);
    border-radius: var(--borderRadiusGeneralElement);
    margin: 0 auto;

}

#shop-menu {

    background-color: var(--backGroundColorGeneralElement);
    border-radius: var(--borderRadiusGeneralElement) 0vh 0vh var(--borderRadiusGeneralElement);
    backdrop-filter: blur(10px);
    border: var(--borderSizeGeneralElement) var(--borderStyleGeneralElement) var(--borderColorGeneralElement);
}





#shop-content {

    background-color: var(--backGroundColorGeneralElement);
    border-radius: 0vh var(--borderRadiusGeneralElement) var(--borderRadiusGeneralElement) 0vh;
    backdrop-filter: blur(10px);
    border: var(--borderSizeGeneralElement) var(--borderStyleGeneralElement) var(--borderColorGeneralElement);
    align-content: center;
}